## I. Load Data using Web API

Many websites (Twitter, Facebook, Kaggle, Reddit, ...) offer Application Programming Interfaces (APIs) which provide access to data on their web server. Today we will use Twitter API to download and analyze some tweets.

**Get started with Twitter API:**

1. Sign up on Twitter.
2. Apply for [developer access](https://developer.twitter.com/en/apps).
3. Create a Twitter app. (You can use lehman website for the placeholder on the urls)

In [1]:
# Install tweepy package for Python
!pip install tweepy

Collecting tweepy
  Downloading https://files.pythonhosted.org/packages/36/1b/2bd38043d22ade352fc3d3902cf30ce0e2f4bf285be3b304a2782a767aec/tweepy-3.8.0-py2.py3-none-any.whl
Requirement already satisfied: requests>=2.11.1 in c:\users\ch002\anaconda3\envs\tensorflow\lib\site-packages (from tweepy) (2.18.4)
Collecting requests-oauthlib>=0.7.0
  Downloading https://files.pythonhosted.org/packages/c2/e2/9fd03d55ffb70fe51f587f20bcf407a6927eb121de86928b34d162f0b1ac/requests_oauthlib-1.2.0-py2.py3-none-any.whl
Requirement already satisfied: PySocks>=1.5.7 in c:\users\ch002\anaconda3\envs\tensorflow\lib\site-packages (from tweepy) (1.6.8)
Requirement already satisfied: six>=1.10.0 in c:\users\ch002\anaconda3\envs\tensorflow\lib\site-packages (from tweepy) (1.11.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\ch002\anaconda3\envs\tensorflow\lib\site-packages (from requests>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: idna<2.7,>=2.5 in c:\users\ch002\anaconda3\envs\tensorflow\lib\site-packages (from requests>=2.11.1->tweepy) (2.6)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in c:\users\ch002\anaconda3\envs\tensorflow\lib\site-packages (from requests>=2.11.1->tweepy) (1.22)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ch002\anaconda3\envs\tensorflow\lib\site-packages (from requests>=2.11.1->tweepy) (2019.3.9)
Collecting oauthlib>=3.0.0
  Downloading https://files.pythonhosted.org/packages/05/57/ce2e7a8fa7c0afb54a0581b14a65b56e62b5759dbc98e80627142b8a3704/oauthlib-3.1.0-py2.py3-none-any.whl (147kB)
Installing collected packages: oauthlib, requests-oauthlib, tweepy
Successfully installed oauthlib-3.1.0 requests-oauthlib-1.2.0 tweepy-3.8.0

In [2]:
import tweepy

To learn more about the tweepy API, visit the [offical documentation](http://docs.tweepy.org/en/latest/getting_started.html)

In [ ]:
# Copy and paste tokens from "Keys and Access Tokens" tab

In [7]:
consumer_key = "1lbjB5z4RR4lh92pKQP4R1rwk"
consumer_secret = "WsLeHFw7Z6azT9bdKOGrMkkDHXFhOpXVJXHyjZHXRUIvOtRB6B"
access_token = "1189580463914061825-ZgJUr2miaSLfCgNPIvmHJOmoT2roqD"
access_token_secret = "0Hgqf5R8M5OTJEPwCZxduslOxeSmPE42zXXLCqmpYs06M"

In [8]:
# User authentication
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

In [9]:
# Create API object to access twitter data
api = tweepy.API(auth)

## Task 1: Retrieve tweets from timeline

In [10]:
# My timeline
public_tweets = api.home_timeline(tweet_mode = "extended")

In [13]:
# Look into one tweet data
tweet = public_tweets[5]
tweet

Status(_api=<tweepy.api.API object at 0x000002A16CFB5470>, _json={'created_at': 'Wed Oct 30 18:44:32 +0000 2019', 'id': 1189614078534311936, 'id_str': '1189614078534311936', 'full_text': '....Your current Governor, John Bel Edwards, has done a poor job with economic development (last in nation) and auto insurance (highest in nation) wants to raise your taxes BIG - vote for Eddie starting Saturday!', 'truncated': False, 'display_text_range': [0, 212], 'entities': {'hashtags': [], 'symbols': [], 'user_mentions': [], 'urls': []}, 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>', 'in_reply_to_status_id': 1189614076743376897, 'in_reply_to_status_id_str': '1189614076743376897', 'in_reply_to_user_id': 25073877, 'in_reply_to_user_id_str': '25073877', 'in_reply_to_screen_name': 'realDonaldTrump', 'user': {'id': 25073877, 'id_str': '25073877', 'name': 'Donald J. Trump', 'screen_name': 'realDonaldTrump', 'location': 'Washington, DC', 'description': '45th President of the United States of Americaüá∫üá∏', 'url': 'https://t.co/OMxB0x7xC5', 'entities': {'url': {'urls': [{'url': 'https://t.co/OMxB0x7xC5', 'expanded_url': 'http://www.Instagram.com/realDonaldTrump', 'display_url': 'Instagram.com/realDonaldTrump', 'indices': [0, 23]}]}, 'description': {'urls': []}}, 'protected': False, 'followers_count': 66387102, 'friends_count': 47, 'listed_count': 110415, 'created_at': 'Wed Mar 18 13:46:38 +0000 2009', 'favourites_count': 6, 'utc_offset': None, 'time_zone': None, 'geo_enabled': True, 'verified': True, 'statuses_count': 45652, 'lang': None, 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': True, 'profile_background_color': '6D5C18', 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_tile': True, 'profile_image_url': 'http://pbs.twimg.com/profile_images/874276197357596672/kUuht00m_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/874276197357596672/kUuht00m_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/25073877/1560920145', 'profile_link_color': '1B95E0', 'profile_sidebar_border_color': 'BDDCAD', 'profile_sidebar_fill_color': 'C5CEC0', 'profile_text_color': '333333', 'profile_use_background_image': True, 'has_extended_profile': False, 'default_profile': False, 'default_profile_image': False, 'can_media_tag': False, 'followed_by': False, 'following': True, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'regular'}, 'geo': None, 'coordinates': None, 'place': None, 'contributors': None, 'is_quote_status': False, 'retweet_count': 3378, 'favorite_count': 11338, 'favorited': False, 'retweeted': False, 'lang': 'en'}, created_at=datetime.datetime(2019, 10, 30, 18, 44, 32), id=1189614078534311936, id_str='1189614078534311936', full_text='....Your current Governor, John Bel Edwards, has done a poor job with economic development (last in nation) and auto insurance (highest in nation) wants to raise your taxes BIG - vote for Eddie starting Saturday!', truncated=False, display_text_range=[0, 212], entities={'hashtags': [], 'symbols': [], 'user_mentions': [], 'urls': []}, source='Twitter for iPhone', source_url='http://twitter.com/download/iphone', in_reply_to_status_id=1189614076743376897, in_reply_to_status_id_str='1189614076743376897', in_reply_to_user_id=25073877, in_reply_to_user_id_str='25073877', in_reply_to_screen_name='realDonaldTrump', author=User(_api=<tweepy.api.API object at 0x000002A16CFB5470>, _json={'id': 25073877, 'id_str': '25073877', 'name': 'Donald J. Trump', 'screen_name': 'realDonaldTrump', 'location': 'Washington, DC', 'description': '45th President of the United States of Americaüá∫üá∏', 'url': 'https://t.co/OMxB0x7xC5', 'entities': {'url': {'urls': [{'url': 'https://t.co/OMxB0x7xC5', 'expanded_url': 'http://www.Instagram.com/realDonaldTrump', 'display_url': 'Instagram.com/realDonaldTrump', 'indices': [0, 23]}]}, 'description': {'urls': []}}, 'protected': False, 'followers_count': 66387102, 'friends_count': 47, 'listed_count': 110415, 'created_at': 'Wed Mar 18 13:46:38 +0000 2009', 'favourites_count': 6, 'utc_offset': None, 'time_zone': None, 'geo_enabled': True, 'verified': True, 'statuses_count': 45652, 'lang': None, 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': True, 'profile_background_color': '6D5C18', 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_tile': True, 'profile_image_url': 'http://pbs.twimg.com/profile_images/874276197357596672/kUuht00m_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/874276197357596672/kUuht00m_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/25073877/1560920145', 'profile_link_color': '1B95E0', 'profile_sidebar_border_color': 'BDDCAD', 'profile_sidebar_fill_color': 'C5CEC0', 'profile_text_color': '333333', 'profile_use_background_image': True, 'has_extended_profile': False, 'default_profile': False, 'default_profile_image': False, 'can_media_tag': False, 'followed_by': False, 'following': True, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'regular'}, id=25073877, id_str='25073877', name='Donald J. Trump', screen_name='realDonaldTrump', location='Washington, DC', description='45th President of the United States of Americaüá∫üá∏', url='https://t.co/OMxB0x7xC5', entities={'url': {'urls': [{'url': 'https://t.co/OMxB0x7xC5', 'expanded_url': 'http://www.Instagram.com/realDonaldTrump', 'display_url': 'Instagram.com/realDonaldTrump', 'indices': [0, 23]}]}, 'description': {'urls': []}}, protected=False, followers_count=66387102, friends_count=47, listed_count=110415, created_at=datetime.datetime(2009, 3, 18, 13, 46, 38), favourites_count=6, utc_offset=None, time_zone=None, geo_enabled=True, verified=True, statuses_count=45652, lang=None, contributors_enabled=False, is_translator=False, is_translation_enabled=True, profile_background_color='6D5C18', profile_background_image_url='http://abs.twimg.com/images/themes/theme1/bg.png', profile_background_image_url_https='https://abs.twimg.com/images/themes/theme1/bg.png', profile_background_tile=True, profile_image_url='http://pbs.twimg.com/profile_images/874276197357596672/kUuht00m_normal.jpg', profile_image_url_https='https://pbs.twimg.com/profile_images/874276197357596672/kUuht00m_normal.jpg', profile_banner_url='https://pbs.twimg.com/profile_banners/25073877/1560920145', profile_link_color='1B95E0', profile_sidebar_border_color='BDDCAD', profile_sidebar_fill_color='C5CEC0', profile_text_color='333333', profile_use_background_image=True, has_extended_profile=False, default_profile=False, default_profile_image=False, can_media_tag=False, followed_by=False, following=True, follow_request_sent=False, notifications=False, translator_type='regular'), user=User(_api=<tweepy.api.API object at 0x000002A16CFB5470>, _json={'id': 25073877, 'id_str': '25073877', 'name': 'Donald J. Trump', 'screen_name': 'realDonaldTrump', 'location': 'Washington, DC', 'description': '45th President of the United States of Americaüá∫üá∏', 'url': 'https://t.co/OMxB0x7xC5', 'entities': {'url': {'urls': [{'url': 'https://t.co/OMxB0x7xC5', 'expanded_url': 'http://www.Instagram.com/realDonaldTrump', 'display_url': 'Instagram.com/realDonaldTrump', 'indices': [0, 23]}]}, 'description': {'urls': []}}, 'protected': False, 'followers_count': 66387102, 'friends_count': 47, 'listed_count': 110415, 'created_at': 'Wed Mar 18 13:46:38 +0000 2009', 'favourites_count': 6, 'utc_offset': None, 'time_zone': None, 'geo_enabled': True, 'verified': True, 'statuses_count': 45652, 'lang': None, 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': True, 'profile_background_color': '6D5C18', 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_tile': True, 'profile_image_url': 'http://pbs.twimg.com/profile_images/874276197357596672/kUuht00m_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/874276197357596672/kUuht00m_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/25073877/1560920145', 'profile_link_color': '1B95E0', 'profile_sidebar_border_color': 'BDDCAD', 'profile_sidebar_fill_color': 'C5CEC0', 'profile_text_color': '333333', 'profile_use_background_image': True, 'has_extended_profile': False, 'default_profile': False, 'default_profile_image': False, 'can_media_tag': False, 'followed_by': False, 'following': True, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'regular'}, id=25073877, id_str='25073877', name='Donald J. Trump', screen_name='realDonaldTrump', location='Washington, DC', description='45th President of the United States of Americaüá∫üá∏', url='https://t.co/OMxB0x7xC5', entities={'url': {'urls': [{'url': 'https://t.co/OMxB0x7xC5', 'expanded_url': 'http://www.Instagram.com/realDonaldTrump', 'display_url': 'Instagram.com/realDonaldTrump', 'indices': [0, 23]}]}, 'description': {'urls': []}}, protected=False, followers_count=66387102, friends_count=47, listed_count=110415, created_at=datetime.datetime(2009, 3, 18, 13, 46, 38), favourites_count=6, utc_offset=None, time_zone=None, geo_enabled=True, verified=True, statuses_count=45652, lang=None, contributors_enabled=False, is_translator=False, is_translation_enabled=True, profile_background_color='6D5C18', profile_background_image_url='http://abs.twimg.com/images/themes/theme1/bg.png', profile_background_image_url_https='https://abs.twimg.com/images/themes/theme1/bg.png', profile_background_tile=True, profile_image_url='http://pbs.twimg.com/profile_images/874276197357596672/kUuht00m_normal.jpg', profile_image_url_https='https://pbs.twimg.com/profile_images/874276197357596672/kUuht00m_normal.jpg', profile_banner_url='https://pbs.twimg.com/profile_banners/25073877/1560920145', profile_link_color='1B95E0', profile_sidebar_border_color='BDDCAD', profile_sidebar_fill_color='C5CEC0', profile_text_color='333333', profile_use_background_image=True, has_extended_profile=False, default_profile=False, default_profile_image=False, can_media_tag=False, followed_by=False, following=True, follow_request_sent=False, notifications=False, translator_type='regular'), geo=None, coordinates=None, place=None, contributors=None, is_quote_status=False, retweet_count=3378, favorite_count=11338, favorited=False, retweeted=False, lang='en')

In [14]:
# the _json attribute contains info of the tweet
tweet._json

{'created_at': 'Wed Oct 30 18:44:32 +0000 2019',
 'id': 1189614078534311936,
 'id_str': '1189614078534311936',
 'full_text': '....Your current Governor, John Bel Edwards, has done a poor job with economic development (last in nation) and auto insurance (highest in nation) wants to raise your taxes BIG - vote for Eddie starting Saturday!',
 'truncated': False,
 'display_text_range': [0, 212],
 'entities': {'hashtags': [], 'symbols': [], 'user_mentions': [], 'urls': []},
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'in_reply_to_status_id': 1189614076743376897,
 'in_reply_to_status_id_str': '1189614076743376897',
 'in_reply_to_user_id': 25073877,
 'in_reply_to_user_id_str': '25073877',
 'in_reply_to_screen_name': 'realDonaldTrump',
 'user': {'id': 25073877,
  'id_str': '25073877',
  'name': 'Donald J. Trump',
  'screen_name': 'realDonaldTrump',
  'location': 'Washington, DC',
  'description': '45th President of the United States of Americaüá∫üá∏',
  'url': 'https://t.co/OMxB0x7xC5',
  'entities': {'url': {'urls': [{'url': 'https://t.co/OMxB0x7xC5',
      'expanded_url': 'http://www.Instagram.com/realDonaldTrump',
      'display_url': 'Instagram.com/realDonaldTrump',
      'indices': [0, 23]}]},
   'description': {'urls': []}},
  'protected': False,
  'followers_count': 66387102,
  'friends_count': 47,
  'listed_count': 110415,
  'created_at': 'Wed Mar 18 13:46:38 +0000 2009',
  'favourites_count': 6,
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': True,
  'verified': True,
  'statuses_count': 45652,
  'lang': None,
  'contributors_enabled': False,
  'is_translator': False,
  'is_translation_enabled': True,
  'profile_background_color': '6D5C18',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': True,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/874276197357596672/kUuht00m_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/874276197357596672/kUuht00m_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/25073877/1560920145',
  'profile_link_color': '1B95E0',
  'profile_sidebar_border_color': 'BDDCAD',
  'profile_sidebar_fill_color': 'C5CEC0',
  'profile_text_color': '333333',
  'profile_use_background_image': True,
  'has_extended_profile': False,
  'default_profile': False,
  'default_profile_image': False,
  'can_media_tag': False,
  'followed_by': False,
  'following': True,
  'follow_request_sent': False,
  'notifications': False,
  'translator_type': 'regular'},
 'geo': None,
 'coordinates': None,
 'place': None,
 'contributors': None,
 'is_quote_status': False,
 'retweet_count': 3378,
 'favorite_count': 11338,
 'favorited': False,
 'retweeted': False,
 'lang': 'en'}

In [17]:
# Use the _json attribute to infer some information
obj = tweet._json
# obj['created_at']
obj['user']['name']

'Donald J. Trump'

In [18]:
# Find specific info
print(tweet.full_text)
print(tweet.author.name)
print(tweet.created_at)
print(tweet.author.location)

....Your current Governor, John Bel Edwards, has done a poor job with economic development (last in nation) and auto insurance (highest in nation) wants to raise your taxes BIG - vote for Eddie starting Saturday!
Donald J. Trump
2019-10-30 18:44:32
Washington, DC

In [19]:
# Use api.home_timeline without setting tweet_mode="extended" may result in truncated messages.
tweets2 = api.home_timeline()

In [20]:
for idx in range(10):
    print('-' * 80)
    tweet = tweets2[idx]
    print(tweet.author.name)
    print(tweet.text)

--------------------------------------------------------------------------------
Donald J. Trump
We will be having a big rally for Governor @MattBevin on Monday night in Kentucky. Get your tickets today! https://t.co/uoPhCLGHpH
--------------------------------------------------------------------------------
Real Madrid C.F.‚öΩ
üèÉ‚Äç‚ôÇÔ∏èüëêüî• @thibautcourtois
#RMLiga | #HalaMadrid https://t.co/9EK9kdjpRt
--------------------------------------------------------------------------------
Real Madrid C.F.‚öΩ
üì∫ DIRECTO BERNAB√âU üèü
¬°Calentamiento previo al encuentro üÜö @CDLeganes!
#RMTV | #HalaMadrid   https://t.co/WJunuc7wlX
--------------------------------------------------------------------------------
LehmanCMP464
First tweet!
--------------------------------------------------------------------------------
Real Madrid C.F.‚öΩ
üèüüëã ¬°La llegada del equipo al Bernab√©u! Ya falta menos para el saque inicial üÜö @CDLeganes...
#RMLiga | #HalaMadrid https://t.co/rjfbc249VI
--------------------------------------------------------------------------------
Real Madrid C.F.‚öΩ
üìã‚úÖ ¬°Este es nuestro once inicial üÜö @CDLeganes!
#RMLiga | #HalaMadrid https://t.co/iaFywe7AmZ
--------------------------------------------------------------------------------
Donald J. Trump
....Your current Governor, John Bel Edwards, has done a poor job with economic development (last in nation) and aut‚Ä¶ https://t.co/sQlJb3774r
--------------------------------------------------------------------------------
Donald J. Trump
Early voting in Louisiana for a man who will be a Great Governor, @EddieRispone, on Saturday, November 2nd. He will‚Ä¶ https://t.co/SXqQVWV4Is
--------------------------------------------------------------------------------
Donald J. Trump
AMERICAN HERO! https://t.co/XCCa2sGfsZ
--------------------------------------------------------------------------------
Real Madrid C.F.‚öΩ
üëï‚úÖ ¬°Nuestro vestuario est√° listo!
#PreparationIsEverything | üîµ @NIVEAMEN_ES https://t.co/TTPFKp1Mah

## Task 2: Retrieve Tweets from Another User

In [21]:
name = "nytimes"
tweetCount = 20
results = api.user_timeline(id=name, count=tweetCount, tweet_mode = "extended")

In [22]:
for tweet in results:
    print('-' * 80)
    print(tweet.full_text)

--------------------------------------------------------------------------------
RT @TheWeekly: To win over skeptical conservative voters, Donald Trump had to assure them he would appoint strict constructionist judges. #‚Ä¶
--------------------------------------------------------------------------------
Georgetown University announced on Tuesday that it would raise about $400,000 a year to benefit the descendants of the 272 enslaved people who were sold to help keep the college afloat nearly 2 centuries ago, officials said https://t.co/HRQ6D9I7Pb
--------------------------------------------------------------------------------
In Opinion

Scott Aaronson writes, ‚ÄúAssuming Google has achieved quantum supremacy, what exactly has it proved ‚Äî and is it something anyone doubted in the first place?‚Äù https://t.co/lENiUbPjUB
--------------------------------------------------------------------------------
‚ÄúThere is barely any escape here, only a visit to a neighboring reality. This is a show about the rich and the powerful, about vanity and greed and dishonesty, about, in short, social conditions in America circa 2019," Michelle Dean writes of "Succession" https://t.co/JFKToJ1wQ0
--------------------------------------------------------------------------------
RT @NYTmag: Please join us for a day of #1619project conversations featuring historians, journalists and policymakers, as we discuss how th‚Ä¶
--------------------------------------------------------------------------------
South African police clad in riot gear forcibly broke up a group of refugees who had occupied a square in central Cape Town for 3 weeks, pleading for help in leaving a country plagued by anti-immigrant violence https://t.co/zKzy81YQJ1
--------------------------------------------------------------------------------
RT @readercenter: We asked Maggie Haberman to take a proof photo for her @reddit_AMA (happening this Thursday, 10/31, 12 p.m. ET in r/polit‚Ä¶
--------------------------------------------------------------------------------
Firefighters and survivors of¬†the Grenfell Tower fire¬†in London reacted angrily to an investigation into the disaster for focusing first on the shortcomings of the emergency services‚Äô response to the 2017 blaze, not on the dangerous conditions that fed it https://t.co/95THjeU2Jy
--------------------------------------------------------------------------------
Poisoned, run over and shot on sight, Lebanon‚Äôs national animal, the striped hyena, finds itself threatened by frightened humans and dated myths https://t.co/BPktiEqhDK
--------------------------------------------------------------------------------
RT @juliarebeccaj: Broadcasters are bringing back the tradition of playing the national anthem on TV stations daily (typically before dawn)‚Ä¶
--------------------------------------------------------------------------------
2 men pleaded guilty in U.S. federal court in California to charges of computer hacking and an extortion conspiracy on Wednesday, capping a legal saga that ensnared tech companies in data breach scandals https://t.co/wDzmNLezby
--------------------------------------------------------------------------------
Breaking News: The U.S. Federal Reserve cut interest rates for the 3rd time this year, reducing rates by another quarter point as the economy continues to cool https://t.co/d3aXOCY0gE
--------------------------------------------------------------------------------
Boeing‚Äôs chief executive, Dennis Muilenburg, is facing a second day of questions from the U.S. Congress. Follow along for live updates: https://t.co/FqnwDJ57VB
--------------------------------------------------------------------------------
‚ÄúWhat makes ‚ÄòParasite‚Äô the movie of the year,‚Äù writes our film critic @AOScott, ‚ÄúIs the way it succeeds in being at once fantastical and true to life, intensely metaphorical and devastatingly concrete.‚Äù https://t.co/Pm5SCQIQrX
--------------------------------------------------------------------------------
For the #1619Project, readers shared their personal stories about their enslaved ancestors. ‚ÄúMy family descends from the beginnings of British colonialism, when some of the first enslaved people were brought from Africa.‚Äù https://t.co/jKbn4FDqek
--------------------------------------------------------------------------------
Jordan has recalled its ambassador to Israel for consultations and detained an Israeli citizen who it says crossed the border illegally amid a sharpening dispute over Israel‚Äôs detention of 2 Jordanian citizens https://t.co/EB0FsVO3PQ
--------------------------------------------------------------------------------
Breaking News: A fugitive financier accused of helping loot a Malaysian fund agreed to give up claims to nearly $1 billion in luxury apartments, yachts, jets and artwork that U.S. prosecutors say were bought with stolen money https://t.co/tXTnuMm8xB
--------------------------------------------------------------------------------
A small plane crashed into an apartment complex in DeKalb County, Georgia, on Wednesday morning, according to the FAA. 2 people were on the plane and at least one is dead, a captain told a local news outlet https://t.co/xhQOOJoh2u
--------------------------------------------------------------------------------
A tradition can be many things ‚Äî for some, it's food. For others, it's faith. For many, family. Farah Al Qasimi and Liana Aghajanian drove from Hamtramck, Michigan to Canterbury, New Hampshire, to see what makes a tradition uniquely American. https://t.co/H1GO9xyIr4
--------------------------------------------------------------------------------
2 witnesses, both advisers to Kurt Volker, the U.S. special envoy to Ukraine, are expected to provide House impeachment investigators with more details about the unorthodox ways in which Ukraine policy was shaped at the White House https://t.co/YT3lgvOALN

## Task 3: Search for Tweets

In [29]:
search_words = "wildfire -filter:retweets"
date_since = "2019-10-01"
cursor = tweepy.Cursor(api.search,
                       q=search_words,
                       lang="en",
                       since=date_since,
                       tweet_mode = "extended")

In [30]:
tweets = cursor.items(10)
for tweet in tweets:
    print('-' * 80)
    print(tweet.full_text)
    print(tweet.author.name)
    print(tweet.author.location)

--------------------------------------------------------------------------------
hollywoodphotog:‚ö†Ô∏èThe latest on #wildfire updates, #evacuation centers, power shutoffs
and road closures.
#statewide #california

https://t.co/Jfl7zODioz Twitter https://t.co/Lnr3NvgqQ0)
EMS Daily
Worldwide
--------------------------------------------------------------------------------
‚ÄúAfter Hurricane Katrina and Superstorm Sandy, both Congress and the FCC took a hard look at widespread outages," says @FreePressLeo. "[T]he FCC punted and put its faith in a voluntary regime devised by the industry.‚Äù https://t.co/hxI5Ao9REb
Dana Floberg
Washington, DC
--------------------------------------------------------------------------------
Goats help save Reagan library from destruction as California wildfire threatens

Flames from the Easy Fire were within a few feet of the Reagan library. Goats, which graze on grass around the property, helped prevent their spread.

https://t.co/4VLT7JNfWK https://t.co/yFdnA9sPRz
Newsnet
Arizona City, AZ
--------------------------------------------------------------------------------
These fires all over California are major...Thoughts are with the victims and evacuees. ‚ô•Ô∏è And especially with the brave Firefighters who are enduring some of the most challenging conditions in wildfire history! Thank you to all volunteers helping get ppl and animals to safety! https://t.co/CZwnFLxtaG
Dana DeLorenzo
los angeles
--------------------------------------------------------------------------------
New wildfire breaks out in wind-whipped Southern¬†California https://t.co/cqCuko0rOz https://t.co/liBJjDcNPP
MyCityNews.ca
Toronto - Canada
--------------------------------------------------------------------------------
Goats help save Reagan library from destruction as California wildfire threatens https://t.co/7eVEoXVS4T https://t.co/Kk5y6ZYZIl
RAY BAEZ
Queens, NY
--------------------------------------------------------------------------------
Want to choose a scary Halloween costume this year but can't decide if I should go as Wildfire or Rising Sea Levels.
Jeremy Gillam
Los Angeles, CA
--------------------------------------------------------------------------------
Silicon Valley Leaders Sit Down With Wildfire At Investment Meeting After Being Impressed By Its Rapid Expansion https://t.co/DhqfDlTjY0
Andrew Hoberek

--------------------------------------------------------------------------------
Fast-moving wildfire north of L.A. forces evacuation of Reagan Library, thousands of homes https://t.co/tbFPuIvkjG
Sheri Falk
Birmingham, AL
--------------------------------------------------------------------------------
The Reagan Library and its priceless history threatened by California‚Äôs Easy Fire - The Washington Post https://t.co/OGca2OTjCK
Nance ü¶ãüåäü¶ã
North Carolina, USA

In [31]:
# Create a Pandas DataFrame to store tweets, authors, and locations
import pandas as pd

# Create an empty data frame
tweets_df = pd.DataFrame(columns=['Name', 'Location', 'Text'])
tweets_df

Empty DataFrame
Columns: [Name, Location, Text]
Index: []

In [32]:
# Append tweets data to the data frame
tweets = cursor.items(10)
idx = 0
for tweet in tweets:
    tweets_df.loc[idx, :] = [tweet.author.name,
                               tweet.author.location,
                               tweet.full_text]
    idx += 1
                               
tweets_df

,Name,Location,Text
0,The Progressive Mind,ProgressiveLand,Goats help save Reagan library from destructio...
1,Joy Hui Lin,"Los Angeles, CA","I literally asked a dating app guy, ""How's wil..."
2,Anyone but Trump 2020 üè≥Ô∏è‚Äçüåà,"Tuscaloosa, AL",Fast-moving wildfire north of L.A. forces evac...
3,CJ,,Fast-moving wildfire north of L.A. forces evac...
4,Mistress Alexandra Wildfire üî•,"London, England",Watch my ass while I give my slave a good poun...
5,Chris Shaffer,New York,Silicon Valley Leaders Sit Down With Wildfire ...
6,tensoba10,Hinter den sieben meeren Japan,New Wind-Driven Wildfire Erupts in Southern Ca...
7,Paul Stromberg,Chicago,@AudacityofGoats California's secret wildfire ...
8,Allan Johnson,"Minneapolis, MN",Fast-moving fire encroaches on Reagan Library ...
9,Tangee Lingard,,@realDonaldTrump @GreggJarrett There's a serio...

# II. Binary File Formats

## 1. pickle
The `pickle` module implements binary protocols for serializing and de-serializing a Python object structure. Only Python can properly read and write pickle files

In [33]:
# Let's create a data frame first
import numpy as np
import pandas as pd

values = np.array([
    [100, 80, 95, 'A'],
    [55, 60, 45, 'F'],
    [70, 75, 90, 'A'],
    [75, 70, 60, 'D'],
    [60, 73, 75, 'C'],
    [72, 63, -1, 'NA']
])
df = pd.DataFrame(values,
                   columns=['Midterm', 'Project', 'Final', 'LetterGrade'],
                   index=['Alex', 'Bob', 'Chris', 'Doug', 'Eva', "Frank"])
df

      Midterm Project Final LetterGrade
Alex      100      80    95           A
Bob        55      60    45           F
Chris      70      75    90           A
Doug       75      70    60           D
Eva        60      73    75           C
Frank      72      63    -1          NA

In [34]:
# Save as a .pickle file
df.to_pickle("Data/temp/data.pickle")

In [35]:
# Load the pickle file
df_pickle = pd.read_pickle("Data/temp/data.pickle")
df_pickle

      Midterm Project Final LetterGrade
Alex      100      80    95           A
Bob        55      60    45           F
Chris      70      75    90           A
Doug       75      70    60           D
Eva        60      73    75           C
Frank      72      63    -1          NA

## 2. HDF5
The "HDF" stands for "hierarchical data format". HDF5 can be a good choice for working with very large datasets that don't fit into memory, as you can efficiently read and write small sections of large arrays.

In [36]:
df = pd.DataFrame({
    'Col1': np.random.randn(100),
    'Col2': np.random.randn(100)
})
df.head(5)

       Col1      Col2
0  0.089893 -1.055004
1  0.316448  0.493639
2  0.412466 -0.242224
3  1.474262 -0.787625
4 -1.604593  0.732834

In [40]:
# The PyTable package may require update
!pip3 install --upgrade tables

Requirement already up-to-date: tables in c:\users\ch002\anaconda3\envs\tensorflow\lib\site-packages (3.6.1)
Requirement already satisfied, skipping upgrade: numexpr>=2.6.2 in c:\users\ch002\anaconda3\envs\tensorflow\lib\site-packages (from tables) (2.7.0)
Requirement already satisfied, skipping upgrade: numpy>=1.9.3 in c:\users\ch002\anaconda3\envs\tensorflow\lib\site-packages (from tables) (1.14.3)

In [ ]:
df.to_hdf('Data/temp/data.h5', 'obj1', format='table')

In [ ]:
df_hdf5 = pd.read_hdf('Data/temp/data.h5', 'obj1', where=['index < 3'])
df_hdf5

## 3. feather
The feather format is adapted from the R statistical language. It has extremely high read and write performance.

In [44]:
!pip install -U pyarrow

Collecting pyarrow
  Downloading https://files.pythonhosted.org/packages/b5/09/f130ba1eefb7f1c20192e40aa5534ce80613a52df231f411c392e16ab5e2/pyarrow-0.15.0-cp36-cp36m-win_amd64.whl (18.3MB)
Requirement already satisfied, skipping upgrade: six>=1.0.0 in c:\users\ch002\anaconda3\envs\tensorflow\lib\site-packages (from pyarrow) (1.11.0)
Requirement already satisfied, skipping upgrade: numpy>=1.14 in c:\users\ch002\anaconda3\envs\tensorflow\lib\site-packages (from pyarrow) (1.14.3)
Installing collected packages: pyarrow
Successfully installed pyarrow-0.15.0

In [57]:
import time
start = time.time()
df.to_feather('Data/temp/data.feather')
# df.to_pickle('Data/temp/data2.pickle')
end = time.time()
print("Time cost:", (end - start))

Time cost: 0.009720563888549805

In [61]:
import time
start = time.time()
df_feather = pd.read_feather('Data/temp/data.feather')
# df2_pickle = pd.read_pickle('Data/temp/data2.pickle')
end = time.time()
print("Time cost:", (end - start))
# df_feather

Time cost: 0.007938623428344727

# III. Interacting with Databases
In a business setting, most data may not be stored in text or binary files. SQL-based relational databases (such as mySQL) are in wide use.

Python has sqlite3 package to interact with databases, and Pandas has some functions to simplify the process.

In [63]:
# Create a SQLite database
import sqlite3
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""
con = sqlite3.connect('Data/temp/data2.sqlite')
con.execute(query)
con.commit()

In [ ]:
# query = """
# DROP TABLE test
# """
# con.execute(query)
# con.commit()

In [64]:
# Insert a few rows of data
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [65]:
# Select data
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [66]:
# Retrieve columns names
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [68]:
# Extract column names from description

# Solution 1: use a loop
desc = cursor.description
cols = []
for elt in desc:
#     print(elt[0])
    cols.append(elt[0])
print(cols)

['a', 'b', 'c', 'd']

In [69]:
cols = [elt[0] for elt in cursor.description]
print(cols)

['a', 'b', 'c', 'd']

In [70]:
# Create a pandas data frame
columns = [x[0] for x in cursor.description]
df = pd.DataFrame(rows, columns=columns)
df

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

Use package `sqlalchemy` to create a data frame directly from a database.

In [72]:
!pip install sqlalchemy

Collecting sqlalchemy
  Downloading https://files.pythonhosted.org/packages/14/0e/487f7fc1e432cec50d2678f94e4133f2b9e9356e35bacc30d73e8cb831fc/SQLAlchemy-1.3.10.tar.gz (6.0MB)
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py): started
  Building wheel for sqlalchemy (setup.py): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.10-cp36-cp36m-win_amd64.whl size=1154938 sha256=fb69d6b1468e39cd2cc496855cd54f7ae3a8a07a8794d086093c5aee41a83ab5
  Stored in directory: C:\Users\ch002\AppData\Local\pip\Cache\wheels\4b\b2\89\cd2231ee623987c605f049df55f40a3e4252ef6a15b94836c2
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.3.10

In [73]:
import sqlalchemy as sqla
db = sqla.create_engine('sqlite:///Data/temp/data.sqlite')
df = pd.read_sql('select * from test', db)
df

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5